<style>
body {
	background-color: #EED2EE;
	max-width: 90%
	}

	.bio { 
		color: white;
		font-family: 'Poiret One', cursive;
		font-size: 20px;
		margin: 90px;
		text-align: center;
	}

	img {
		display: block;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 20px;
	}
</style>

<img src="../images/ph.jpg">

<div class="bio">
	Powder chocolate bar cake chupa chups tootsie roll sesame snaps jelly-o. Liquorice powder tiramisu gummies. Gingerbread gingerbread jelly muffin. Gummi bears lemon drops icing powder pudding pudding danish cupcake icing. Sesame snaps powder gummies chocolate cake dragée cheesecake icing icing. Lollipop fruitcake cake tart sesame snaps. Halvah chocolate cake lemon drops wafer topping cotton candy sugar plum. Candy fruitcake apple pie lemon drops. Dragée jujubes pie pastry chocolate bar tiramisu jelly-o icing croissant. Oat cake wafer oat cake.
</div>