<DOCTYPE html>
<html>
	<head></head>
	<body>
		<h1>Contact</h1>
		<form action="/contact" method="POST">
			<label for="POST-first">First Name:</label>
			<input id="POST-first" type="text" name="first">

			<label for="POST-last">Last Name:</label>
			<input id="POST-last" type="text" name="last">

			<br>
			
			<label for="POST-street">Street:</label>
			<input id="POST-street" type="text" name="street"/>

			
			<label for="POST-city">City:</label>
			<input id="POST-city" type="text" name="city"/>

			<br>
			
			<label for="POST-state">State:</label>
			<input id="POST-state" type="text" name="state"/>


			<label for="POST-zip">Zip:</label>
			<input id="POST-zip" type="text" name="zip"/>

			<br>

			<label for="POST-email">Email:</label>
			<input id="POST-email" type="text" name="email"/>


			<label for="POST-phone">Phone:</label>
			<input id="POST-phone" type="text" name="phone"/>

			<br>

			<input type="submit">
		</form>	
	</body>

</html>