<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poiret+One">
    <link href="./styles.css"rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
    <script src="js/app.js"></script>
  	<title>Charmain's Site</title>
  </head>
 <body>
 	<%= yield %>
 </body>
</html>