<style>
body {
	background-color: #EED2EE;
  max-width: 90%;
}

#contact-head {
	font-family: 'Poiret One', cursive;
	font-size: 46px;
	color: white;
	position: absolute;
	left: 44%;
}

input::-webkit-input-placeholder {
    font-family: 'Poiret One', cursive;
    font-size: 14px;
}

input {
	width: 150px;
	padding: 12px;
	margin: 10px;
}

input[type=submit] {
    background-color: white;
    border: none;
    color: #EED2EE;
    padding: 16px, 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    position: absolute;
    top: 45%;
    left: 45%;
}

#contact-box {
	position: absolute;
	top: 20%;
	left: 35%;
}

</style>

<DOCTYPE html>
<html>
	<head>
      <link rel="stylesheet" href="public/styles.css" type="text/css">
	</head>
	<body id="contact">
		<h1 id="contact-head">Contact</h1>
		<form action="/new" method="POST">
			<div id="contact-box">
				<input id="POST-first" type="text" name="first" placeholder="First Name" value="<%= @contact.first %>"/>

				<input id="POST-last" type="text" name="last" placeholder="Last Name" value="<%= @contact.last %>"/>

				<br>

				<input id="POST-email" type="text" name="email" placeholder="Email"value="<%= @contact.email %>"/>

				<input id="POST-phone" type="text" name="phone" placeholder="Phone" value="<%= @contact.phone %>"/>

				<br>
		  </div>
			<input type="submit">
		</form>	
	</body>
</html>