<style>
body {
  background-color: #EED2EE;
  max-width: 90%;
}

h1 {
  font-family: 'Poiret One', cursive;
  color: white;
}
</style>


<DOCTYPE html>
<html>
  <body>
    <h1>Thank you. We will contact you shortly</h1>
  </body>
</html>
